body {
  margin: 20px;
}
div {
  width: 320px;
  height: 130px;
  padding: 5px;
  border: 10px solid gray;
  margin: 0;
  fill: solid lightgray;
}
h2 {
 margin: 0px; 
}


img{
  width: 20px;
  height: 20px;
}