#profilepicture {
   width: 30px;
   height: auto; 
}

.curved-rectangle {
   width: 300px;
   height: 150px;
   background-color: #c2c2c2;
   border-radius: 20px;
 }
 .curved-rectangle {
  width: 400px;
  height: 250px;
  background-color: #000000;
  border-radius: 20px;
}
 
 .curved-rectangle p {
   margin: 20px;
 }
 
 .curved-rectangle h1 {
   margin: 10px 0 0 20px;
   font-size: 24px;
 }

 .curved-rectangle img {
  margin: 10px 10px 10px 20px;
 }