#profilepicture {
   width: 100px;
   height: auto; 
}

.curved-rectangle {
   width: 300px;
   height: 150px;
   background-color: #3d3d3d;
   border-radius: 20px;
 }
 
 .curved-rectangle p {
   margin: 20px;
 }
 
 .curved-rectangle h1 {
   margin: 10px 0 0 20px;
   font-size: 24px;
 }